* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 300ms ease;
  font-family: sans-serif;
}
:root {
  --dark: #050505;
  --light: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}
.balance {
  text-wrap: balance;
}
body {
  background-color: var(--dark);
  color: var(--light);
}
.input_box {
  padding: 0 1.3rem;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://wallpaperset.com/w/full/8/0/e/468586.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  gap: 10px;
}
.input_box::after {
  position: absolute;
  content: "";
  background-image: linear-gradient(to top, var(--dark), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
}
.input_box input {
  z-index: 1;
  max-width: 600px;
  width: 80%;
  height: 60px;
  border-radius: 05rem;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding-left: 2rem;
  border-bottom: 2px solid #fff;
}
.input_box button,
.btn-group button {
  height: 60px;
  background-color: var(--light);
  border-radius: 5rem;
  width: 100%;
  max-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  z-index: 1;
  font-size: 1.4rem;
  cursor: pointer;
}
.btn-group {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-bottom: 2rem;
}
.fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  display: none;
}
.fixed.show {
  display: block;
}
.fixed button {
  color: var(--light);
  background-color: var(--dark);
  border: none;
  outline: none;
  padding: 0.2rem;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .input_box input,
  .input_box button {
    height: 50px;
  }
}
.center {
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 3px;
  height: 80px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    filter: contrast(400%)hue-rotate(360deg);
  }
}
